@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--header-height: 56px;
		--font-size-3xl: 40px;
		--font-size-2xl: 40px;
		--font-size-xl: 40px;
		--font-size-lg: 24px;
		--font-size-md: 20px;
		--font-size-sm: 16px;
		--font-size-micro: 14px;
		--font-size-article: 16px;
		--font-line-height-3xl: 43px;
		--font-line-height-2xl: 43px;
		--font-line-height-xl: 43px;
		--font-line-height-lg: 28px;
		--font-line-height-md: 22px;
		--font-line-height-sm: 20px;
		--font-line-height-micro: 18px;
		--font-line-height-article: 20px;
		--font-line-height-cta: 15px;
		--letter-spacing-3xl: -0.8px;
		--letter-spacing-2xl: -0.8px;
		--letter-spacing-xl: -0.8px;
		--letter-spacing-lg: -0.48px;
		--letter-spacing-md: -0.4px;
		--spacing-2xl: 80px;
		--spacing-xl: 40px;
		--spacing-lg: 30px;
		--spacing-md: 20px;
		--spacing-sm: 16px;
		--spacing-xs: 16px;
		--spacing-micro: 16px;
		--spacing-nano: 8px;
		--spacing-line: 10px;
	}

	@media (min-width: 768px) {
		:root {
			--header-height: 96px;
			--font-size-3xl: 72px;
			--font-size-2xl: 56px;
			--font-size-xl: 48px;
			--font-size-lg: 28px;
			--font-size-sm: 14px;
			--font-size-micro: 12px;
			--font-line-height-3xl: 73px;
			--font-line-height-2xl: 58px;
			--font-line-height-xl: 50px;
			--font-line-height-lg: 32px;
			--font-line-height-md: 21px;
			--font-line-height-sm: 18px;
			--font-line-height-micro: 14px;
			--font-line-height-article: 22px;
			--font-line-height-cta: 13px;
			--letter-spacing-3xl: -1.44px;
			--letter-spacing-2xl: -1.12px;
			--letter-spacing-xl: -0.96px;
			--letter-spacing-lg: -0.56px;
			--spacing-xl: 60px;
			--spacing-lg: 40px;
			--spacing-md: 32px;
			--spacing-sm: 24px;
			--spacing-xs: 20px;
			--spacing-nano: 12px;
			--spacing-line: 15px;
		}
	}

	@media (min-width: 1024px) {
		:root {
			--spacing-2xl: 160px;
			--spacing-xl: 80px;
			--spacing-lg: 60px;
			--spacing-md: 40px;
			--spacing-sm: 30px;
			--spacing-micro: 24px;
			--spacing-nano: 16px;
		}
	}

	@media (min-width: 1280px) {
		:root {
			--font-size-3xl: 100px;
			--font-size-2xl: 72px;
			--font-size-xl: 56px;
			--font-size-lg: 32px;
			--font-size-article: 18px;
			--font-line-height-3xl: 102px;
			--font-line-height-2xl: 74px;
			--font-line-height-xl: 58px;
			--font-line-height-lg: 35px;
			--font-line-height-article: 26px;
			--letter-spacing-3xl: -2px;
			--letter-spacing-2xl: -1.44px;
			--letter-spacing-xl: -1.12px;
			--letter-spacing-lg: -0.64px;
		}
	}

	.hero {
		font-size: var(--font-size-3xl);
		line-height: var(--font-line-height-3xl);
		letter-spacing: var(--letter-spacing-3xl);
	}

	h1 {
		font-size: var(--font-size-2xl);
		line-height: var(--font-line-height-2xl);
		letter-spacing: var(--letter-spacing-2xl);
	}

	h2 {
		font-size: var(--font-size-xl);
		line-height: var(--font-line-height-xl);
		letter-spacing: var(--letter-spacing-xl);
	}

	h3 {
		font-size: var(--font-size-lg);
		line-height: var(--font-line-height-lg);
		letter-spacing: var(--letter-spacing-lg);
	}

	h4 {
		font-size: var(--font-size-md);
		line-height: var(--font-line-height-md);
		letter-spacing: var(--letter-spacing-md);
	}
}

@layer components {
	.container-header {
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 768px) {
		.container-header {
			padding: 42px 40px 0px;
		}
	}

	@media (min-width: 1024px) {
		.container-header {
			max-width: 1440px;
			padding: 44px 100px 0px;
		}
	}

	.container-mobileNav {
		height: 100%;
		width: 100%;
		padding-left: 10px;
		padding-right: 20px;
	}

	@media (min-width: 768px) {
		.container-mobileNav {
			padding-left: 25px;
			padding-right: 40px;
		}
	}

	.container {
		width: 100%;
		max-width: 1440px;
		padding-left: 10px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 768px) {
		.container {
			padding-left: 25px;
			padding-right: 40px;
		}
	}

	@media (min-width: 1024px) {
		.container {
			padding-left: 85px;
			padding-right: 100px;
		}
	}

	.container-footer {
		width: 100%;
		max-width: 1440px;
		padding-top: var(--spacing-2xl);
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 768px) {
		.container-footer {
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: var(--spacing-2xl);
		}
	}

	@media (min-width: 1024px) {
		.container-footer {
			padding-left: 100px;
			padding-right: 100px;
			padding-bottom: var(--spacing-xl);
		}
	}

	.underlined-link {
		color: #324e53;
		width: fit-content;
		height: fit-content;
		text-transform: uppercase;
		font-family: var(--font-family-action);
		font-size: var(--font-size-micro);
		line-height: var(--font-line-height-cta);
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: none;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-position: from-font;
	}
}

@layer utilities {
	.clip-path {
		clip-path: polygon(
			0% 0%,
			calc(100% - 12px) 0%,
			100% 12px,
			100% 100%,
			0% 100%
		);
	}
}

/* Centering the next video background */
.next-video-bg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.next-video-bg-poster {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
